doctype html
html
  head
    block head
      block title
        title Program Name
      block meta
        meta(name='description', content='')
        meta(name='keywords', content='')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')

        link(rel="stylesheet", href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css')
        link(rel="stylesheet", href='https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/4.4.0/mdb.min.css')
        link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
        link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap')

        script(type='text/javascript' src='/js/checkbox.js')
        script(type='text/javascript' src='/js/alerts.js')
        script(type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.min.js') 
      
  body
    include header
    .container-fluid
     .row
      .col(class="col-12")
       div(id="alerts")
    if alert
     script.
      alertbox(!{alert})
    block content

    include footer
    
    include links