
.div.form-outline.mb-4
    input.form-control(type='text' id='start' name='start' value=startid default=startid)
    label.form-label(for='start') Start
.div.form-outline.mb-4
    input.form-control(type='text' id='end' name='end' value=endid default=endid)
    label.form-label(for='end') End