extends layout
block content
    script(type='text/javascript' src='/js/selector.js')
    script(type='text/javascript' src='/js/splits_submit.js')
    script(type='text/javascript' src='/js/rangedatabase.js')
    div.row
      div.col-3.order-1.col-sm3
       div.bg-white.rounded.shadow-5-strong.p-5
         .row
          .col
           div.form-outline
            input.form-control(id="nickname" type="text" required)
            label.form-label(for="nickname") Nick Name
         div.row
          div.col
           span Begining
          div.col 
           span End
         form(id='form')
          div.form-group(id="form-group")
         button.btn.btn-primary.btn-block(onclick='submit_data("'+data.name+'")') Submit

      div.col-9.col-sm3.order-2
       div.bg-white.rounded.shadow-5-strong.p-5
        h1 #{data.name}
        - for(var i = 0; i < data.chapters.length; i++)
         .div.row
          .div-col-1
           span #{data.chapters[i].chapterno}
          .div-col-9
           - for(var x = 0; x < data.chapters[i].verses.length; x++)
            -var chapter = data.chapters[i].chapterno
            -var verse = data.chapters[i].verses[x]
            -var id = 'C' + chapter+'V'+verse
             button.btn.btn.normal.btn-floating.shadow-none.verse(id= id type="button" onclick="select_normal(this)")
              .span(style="color: black" id= id+'-text') #{verse}
  
          
         div
          div.row.mb-4.form-row(id="clone" style="display: none")
           div.col(id="form-start-chapter")
            div.form-outline
              input.form-control(type='text' id='start-chapter' name='start-chapter' readonly)
              label.form-label(for='start-chapter') Chapter
           div.col(id="form-start-verse")
            div.form-outline
              input.form-control(type='text' id='start-verse' name='start-verse' readonly)
              label.form-label(for='start-verse') Verse  
           div.col(id="form-end-chapter")
            div.form-outline
              input.form-control(type='text' id='end-chapter' name='end-chapter' readonly)
              label.form-label(for='end-chapter') Chapter           
           div.col(id="form-end-verse")
            div.form-outline
              input.form-control(type='text' id='end-verse' name='end-verse' readonly)
              label.form-label(for='end-verse') Verse
