extends ../layout
block content
  script(type='text/javascript' src='/js/splits_page.js')
  .d.flex-grow-1.bg-white.rounded.shadow-5-strong.p-5.me-2.my-2.mx-2
    h3.text-center Saved Booklets
    table(class="table table-hover table-striped")
      tr
        td
          span Booklet Name
        td(style "align=right")
          span Actions
      each booklet in booklet_data
        tr
          td
            span #{booklet.bookletname}
          td(style 'align=right') 
            button.btn.btn-primary.btn-sm.ml-1.me-1(href='#') View
            |      
            button.btn.btn-secondary.btn-sm.ml-1.me-1(href='#') Edit
            |
            button.btn.btn-danger.btn-sm.ml-1.me-1(onclick='delete_split("'+booklet._id+'")') Delete